*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 16, 35);
    height: 100%;
    /* width: 100%; */
    margin: 0;
}
html{
    scroll-behavior: smooth;
    height: 100%;
    /* width: 100%; */
    margin: 0;
}

/************* Navbar css starts *************/
.header{
    position: fixed;
    background-color: #0b0f27;
    width: 100%;
    height: 13vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}
.logo-box{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 580;
    font-size: 1.0em;
    color: aliceblue;
    padding: 2em 1em;
    text-decoration: dotted;
    transition: all 0.2s ease-in-out;
    &:hover{
        color: rgb(214, 71, 95);
        transform: scale(1.1);
    }
    @media all and (max-width: 1545px) {
        font-size: 1.8em;
    }
    @media all and (min-width: 1545px) {
        font-size: 3.4em;
    }
}
.nav-menu{
    display: flex;
    gap: 2em;
    padding: 0 2em;
}
li.nav-item{
    list-style: none;
    display: flex;
    /** putting the display property can add the transform property for the &:hover effect*/
}
a.nav-link{
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 430;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    &:hover{
        color: rgb(215, 78, 101);
        transform: scale(1.1);
    }
    @media all and (max-width: 1545px) {
        font-size: 1.5em;
    }
    @media all and (min-width: 1545px) {
        font-size: 1.8em;
    }
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 2.2em;
    height: 0.3em;
    margin: 0.3em auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: black;
}
/************* Navbar css ends *************/


/************* Home css starts *************/

#home{
    background-image: url(https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80);

    /**Full height and width*/
    height: 100%;
    width: 100%;

    /** Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.home-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.my-image img{
    border-radius: 50%;
    height: 35vh;
    margin: 5em;
}
.my-description{
    margin: 5em;
    padding-right: 0em;
    /* @media all and (max-width: 2546px ) {
        margin-left: 12em; 
        margin-top: 10em;
    } */
}
.h1{
    color: aliceblue;
    font-size: 4em;
    font-family: 'Tilt Neon', cursive;
    
}
.h1 p{
    
    @media all and (max-width: 2546px) {
        font-size: 12.2em;
    }
    @media all and (min-width: 1545px) {
        font-size: 2em;
    }
    @media all and (max-width: 1545px) {
        font-size: .7em;
    }
}
.about-me{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.86em;
    @media all and (max-width: 2546px) {
        font-size: 3.2em;
    }
    @media all and (min-width: 1545px) {
        font-size: 2.5em;
    }
    @media all and (max-width: 1545px) {
        font-size: 1em;
    }
}
.join-me-box{
    display: flex;
}
.join-me{
    color: aliceblue;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding: 0 0.5em 0 0;
    @media all and (min-width: 1545px) {
        font-size: 3em;
    }
    @media all and (max-width: 1545px) {
        font-size: 1.5em;
    }
}

.material-symbols-outlined {
    color: aliceblue;
    font-size: 32px;

  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 150,
  'opsz' 40
}

/************* Home css ends *************/


/************* About css starts *************/

#about{
    margin: 4em;
    background-color: rgb(12, 16, 35);
}
.about-heading{
    text-align: left;
}
.h1#about-heading{
    margin-bottom: 0.1em;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
.h2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.88em;
    font-weight: 560;
    color: aliceblue;
}
p.facts {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88em;
    font-weight: 560;
    color: aliceblue;
    margin-bottom: 4em;
}
.flexbox{
    display: flex;
    justify-content: space-evenly;
}
.box-flexbox{
    border: 0.01em solid aliceblue;
    border-radius: 3%;
    height: 15em;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    transition: .5s;
    margin-bottom: 2em;
}
.box-flexbox:hover{
    border: 0em;
    box-shadow: .55em .55em #68d9fb;
    transform: translateY(-1em) translateX(-1em);
    transition: 0.2s;
    /* color: #f00090; */
}
.h3{
    color: #f0f8ff;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 30px;
    border-radius: 40%;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    bottom: 5%;
    
}
#achieve{
    padding: 5px;
}
.div-box{
    padding-top: 20px;
}
.edu-cont{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 0.9em;
    margin: 0.35em;
}

/************* About css ends *************/

/************* Skills css starts *************/
#skills{
    margin: 4em;
    margin-bottom: 1rem;
    background-color: rgb(12, 16, 35);
    
}
.skills{
    display: flex;
    justify-content: space-around;
}
.details-container {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    color: white;
    background: #0b0f27;
    border-radius: 0.5rem;
    text-align: center;
    margin: 2rem;
}
.experience-sub-title{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}
.icon{
    width: 2.5rem;
    height: 2.5rem;
}
.article-container {
    display: flex;
    text-align: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 1.85rem;
    justify-content: space-around;
}
h3.text-article{
    font-size: .7rem;
    font-family: monospace;
}
.text-article{
    display: inline-block;
    width: 2.5rem;
    text-align: center;
}
article {
    display: flex;
    flex-direction: column;
    /* width: 10rem; */
    justify-content: space-around;
    gap: 0.4rem;
}
article div{
    display: flex;
    flex-direction: row;
}
/************* Skills section css ends *************/

/************* Projects section css starts *************/

/* .text-animation span {
    opacity: 0; Initially hide all letters
    animation: fadeIn 1s forwards; Apply fadeIn animation to each letter
    animation-delay: calc(0.5s * var(--index)); Delay each letter
  } */

  .text-animation span {
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .text-animation span.animate {
    animation: fadeIn 1s forwards;
    animation-delay: calc(0.2s * var(--index));
  }
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#projects{
    margin: 4em;
    margin-bottom: 1rem;
}
/* .h2{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: left;
    color:aliceblue;
} */
.html-and-css{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-top: 5%;
}
.html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: aliceblue;
    background-color: #F40058;
    padding: 5% 10%;
    box-shadow: 10px 10px black;
    transition: 1s;
}
.css{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: aliceblue;
    background-color: #EFA500;
    padding: 5% 10%;
    box-shadow: 10px 10px black;
    transition: 1s;
}
.div-bjs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;

}
.bjs{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: aliceblue;
    background-color: #41B853;
    padding: 5% 10%;
    box-shadow: 10px 10px black;
    transition: 1s;
}
.html:hover, .css:hover, .bjs:hover{
    box-shadow: 6px 6px 6px black;
    transform: scale(1.06);
} 
hr{
    border: none;
    border-top: .01em solid aliceblue;
    color: #F40058;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-bottom: 1em;
}
hr:after{
    position: relative;
    top: -13px;
}



.project-section{
    display: flex;
    justify-content: space-evenly;
}
.box-project{
    border: 2px solid aliceblue;
    border-radius: 3%;
    height: 360px;
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    transition: 1s;
}
.img-1{
    position: relative;
    left: 150px;
    padding-bottom: 25%;
}
.img-2{
    position: relative;
    left: 150px;
    padding-bottom: 25%;
}
.open{
    color: aliceblue;
    background-color: #f00090;
    border: 0.5px solid #f00090;
    border-radius: 35%;
    height: 40px;
    width: 65px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
a.open:hover{
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}


.box-project:hover{
    box-shadow: 3px 3px 3px black;
    transform: scale(1.06);
}
a{
    text-decoration: dotted;
    color: black;
}
.box-contact{
    padding: 5%;
    padding-top: 2%;
}
.call, .mail{
    display: flex;
    justify-content: center;

}
.div{
    border: 2px solid aliceblue;
    border-radius: 1%;
    padding: 20px;
}
.footer{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.text-footer div{
    padding: 20%;
}


@media (max-width: 932px) {


    /****** Media queries for Hamburger ******/
    .header{
        height: 10vh;
    }
    .hamburger{
        display: block;
        margin-right: 2em;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(4){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(.1em) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-1.1em) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 10%;
        gap: 0;
        flex-direction: column;
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        transition: .3s;
    }
    .nav-item{
        margin: 1em 0;
    }
    .nav-menu.active{
        left: 0;
        text-align: center;
    }

    /****** Media queries for Home ******/
    .home-contents{
        flex-direction: column-reverse;
    }
    .my-description{
        margin: 2.5em;
        margin-bottom: 1em;
    }
    .my-image img{
        height: 10em;
        margin-top: 0;
    }
    .h1{
        font-size: 3.8em;
        margin-top: 3.5em;
    }
    .about-me{
        font-size: .85em;
    }
    .join-me{
        font-size: 1.25em;
    }
    .material-symbols-outlined{
        height: 4em;
        width: 4em;
    }

    /****** Media queries for About section ******/
    .flexbox{
        flex-direction: column;
    }
    .box-flexbox{
        border: 0em;
        box-shadow: .55em .55em #68d9fb;
        transform: translateY(-1em) translateX(-1em);
        transition: 0.2s;
    }
    .h3{
        color: #f00090;
        margin-top: 0.5em;
    }
    .box-flexbox{
        margin-bottom: 2em;
    }


    /****** Media queries for Skills section ******/
    .html-and-css{
        flex-direction: column;
    }
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .details-container{
        margin: 1rem;
    }
    .article-container {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        
        /* flex-direction: column; */
        /* gap: 1.85rem;*/
        justify-content: left;
    }

    /****** Media queries for Project section ******/
    .project-section{
        flex-direction: column;
    }
    
}
